input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: var(--color-smokeygrey);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 3px;
  position: relative;
  & span{
    color: var(--color-lightred);
    font-size: 0.4rem;
    font-weight: 300;
    text-transform: none;
    letter-spacing: normal;
    position: absolute;
    bottom: -1rem;
    display: none;
  }
}
input[type="number"] {
  border: 1px solid var(--color-lightgrey);
  border-radius: 0.5rem;
  color: var(--color-offblack);
  font-size: 32px;
  padding: 0.5rem 1rem;
  letter-spacing: normal;
  @media (max-width: 768px) {
    font-size: 16px;
    padding: 0.5rem 0.9rem;
  }
}

input[type="number"]:focus {
  border-color: var(--color-purple);
  outline: none;
}


input[type="number"]:invalid {
  border-color: var(--color-lightred);
}

label:has(input[type="number"]:invalid) {
  color: var(--color-lightred);
}


label:has(input[type="number"]:required) {
  color: var(--color-lightred);
  & span{
    display: block;
  }
}